.productCard {
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 1rem;
  width: 250px;
  text-align: center;
}

.productImg {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.productDescription {
  color: gray;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.buttonMinus {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  width: 30px;
}

.buttonMinus:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.buttonMinus:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1);
}

.countLabel {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 16px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  width: 30px;
}

.buttonAdd {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  width: 30px;
}

.buttonAdd:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
